body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    flex-direction: column; /* Optional: If you want the content to stack vertically */
    padding: 0 40px;
}

.content-wrapper{
    display: flex;
    align-items: center;
}

.content-wrapper p{
    padding: 10px;
}

.content-wrapper img{
    padding: 10px;
}

.circular-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 10px;
}
