body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column; /* Optional: If you want the content to stack vertically */
}

.circular-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
